:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --main-background-color: #fff;
    --secondary-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

/* Removes periods from list items */
.list {
    list-style: none;
}

/* Heder styles */
.header {
    background-color: var(--main-background-color);
}

/* Heder-logo styles */
.header-logo {
    Font-family: Raleway;
    font-weight: 700;
    Font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header-logo-text-web {
    color: var(--accent-color);
}

.header-logo-text-studio {
    color: #000;
}

/* Navigation menu style */


.navigation-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    text-decoration: none;
}

.navigation-item:hover,
.navigation-item:focus {
    color: var(--accent-color);
}

.active-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

/* Contacts in header styles */


.contact-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.contact-header:hover,
.contact-header:focus {
    color: var(--accent-color);
}

/* Maine styles */

/* Section het style */

.section-hat {
    background-color: var(--secondary-background-color);
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
} 

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Section futures styles */

.feature-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.feature-item {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

/* Section work styles */

.work-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* Section team styles */

.team {
    background-color: #F5F4FA;
}

.team-item {
    background-color: var(--main-background-color);
}
.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* Cards with photos, names and titles of professions */

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}


/* Footer styles */

.footer {
    background-color: var(--secondary-background-color);
}

/* Footer logo */

.footer-logo {
    text-decoration: none;
}

.footer-logo-text-web,
.footer-logo-text-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-logo-text-web {
    color: var(--accent-color);
}

.footer-logo-text-studio {
    color: #fff;
}

/* Footer adress */

.company-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    color: #FFFFFF;
    text-decoration: none;
}

.company-address:hover,
.company-address:focus {
    color: var(--accent-color);
}

.contact-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contact-footer:hover,
.contact-footer:focus {
    color:var(--accent-color);
}

/* Portfolio page */

/* Mine styles */

/* Filters */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    text-align: center;
    cursor: pointer;
    background-color: #F5F4FA;
}

.filter-button:hover {
    color: #fff;
    background-color: var(--accent-color);
}

/* Projects */

.project {
    background-color:var(--main-background-color);
}

.project-link {
    text-decoration: none;
}

.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
}

